<!DOCTYPE html>
<html>
  <head>
  	<title> Servicios Futuros </title>
  	<link rel='stylesheet' href='/stylesheets/estiloReporte.css' />
  	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

          // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Tipo Encuesta');
        data.addColumn('number', 'Numero aplicadas');
        
        var arr = <%- JSON.stringify(arrGraficos) %>
        data.addRows(arr);
        
        var tituloGrafico = "TituloGenerico";
        if(<%- JSON.stringify(tituloGrafico)%>) {
            tituloGrafico = <%- JSON.stringify(tituloGrafico)%>
        }
        // Set chart options
        var options = {'title':tituloGrafico,
                        'sliceVisibilityThreshold':0,
                       'width':800,
                       'height':600};
        
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        
        chart.view = {'columns': [0, 1]};
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  	<div class="pieChart" id="chart_div"></div>
  </body>
</body>